.genres_wrapper {
  position: relative;
  display: flex;
  width: min(20rem, 90vw);
  background: url('/images/arrow_down.svg') no-repeat 95% center;
  background-size: 2rem;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid #5b5a5a;
}

.genres_wrapper select {
  appearance: none;
  border: 0;
  outline: 0;
  background: none;
  color: inherit;
  box-shadow: none;

  flex: 1;
  padding: 1em;
  cursor: pointer;
}

@keyframes bounce {
  25% {
    transform: translatey(5px);
  }

  75% {
    transform: translatey(-5px);
  }
}